.idea
bin
obj
launchSettings.json
*.user
coverage.*.xml
report
tools
/tests/coverage.info
/tests/test-results.xml
/UpdateConfiguration/.vs/UpdateConfiguration/v17/.suo
/UpdateConfiguration/.vs/UpdateConfiguration/project-colors.json
